body{
	
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/backgroundImage.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}



*{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}



.menu a{
	text-decoration: none;
}
.menu{
	background-color: dodgerblue;
}
.mid{
	width: 60%;
	margin: auto;

}
.menu ul{
	list-style: none;
	text-align: center;
}
.menu ul li{
    display: inline-block;
    position: relative;

}
.menu ul li a{
	color: white;
	padding: 10px 50px;
	display: inline-block;
	border-bottom: 4px solid transparent;
	border-radius: 3px;
}

.menu ul li a:hover{
	background-color: gold;
	color: black;
	border-bottom: 4px solid red;
	border-radius: 3px;
}
.menu ul li ul li{
	display: block;
	background-color: #303030;
	margin-top: 2px;
	transition:1s;
}
.menu ul li ul{
	position: absolute;
	top:100%;
	left: 0px;
	width: 200px;
	display: none;
}
.menu ul li:hover ul{
	display: block;
}
.menu ul li ul li:hover{
	transform:scale(1.3);
}
